<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <section class="hero-section my-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <h1 class="display-4">Удачи завтра на <span class="text-info">СОР</span> по Матеше!🤧<small></small></h1>
              <p class="lead">Мне хотелось пожелать удачи и терпения немного по особенному так, что решил сделать мини-сайт пока ты спишь. Я думаю ты и так прекрасно завершишь СОР по матеше, но подумал, что это не будет лишним(o^▽^o). Плюс хотел еще раз пожелаеть всех победить на ЧГК💪 <br>Воть👉👈</p>
                <a href="https://youtube.com/playlist?list=PL8El0h9us4263visuSJdxVN2W8gdv11XL&si=kuSTJ9doM5A1koOS" class="btn btn-info btn-lg">Собранный плейлист для тебя</a>
            </div>
            <div class="col-lg-6 my-3">
              <img src="/img/msg1118386796-227931.jpg" class="img-fluid rounded" alt="Responsive image">
            </div>
          </div>
        </div>
    </section>

    <h1 class="display-4 text-center">А здесь будут поддерживающие котики💪</h1>

    <div class="container">
        <p class="lead text-center">Дистанционно поддерживаю↓</p>
        <div class="row mb-2">
            <div class="col text-center">
                <img src="img/msg1118386796-227938.jpg" alt="Image 1" class="fixed-size">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col text-center">
                <img src="img/msg1118386796-227939.jpg" alt="Image 1" class="fixed-size">
            </div>
        </div>
        <p class="lead text-center">Изи много баллов↓</p>
        <div class="row mb-2">
            <div class="col text-center">
                <img src="img/msg1118386796-227940.jpg" alt="Image 1" class="fixed-size">
            </div>
        </div>
        <p class="lead text-center">Обнимажки↓</p>
        <div class="row mb-2">
            <div class="col text-center">
                <img src="img/msg1118386796-227941.jpg" alt="Image 1" class="fixed-size">
            </div>
        </div>
        <p class="lead text-center">Эт я↓</p>
        <div class="row mb-2">
            <div class="col text-center">
                <img src="img/msg1118386796-227942.jpg" alt="Image 1" class="fixed-size">
            </div>
        </div>
        <p class="lead text-center">А это тыыы🍓↓</p>
        <div class="row mb-2">
            <div class="col text-center">
                <img src="img/msg1118386796-227943.jpg" alt="Image 1" class="fixed-size">
            </div>
        </div>
        <!-- Repeat the above block for each image, changing the src and alt attributes accordingly -->
        <!-- ... -->
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>